@font-face {
    font-family: 'MyCustomFont';
    src: url('/public/fonts/HouseofXfont-Regular.woff') format('woff'),
         url('/public/fonts/HouseofXfont-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  